In [34]:
#--Dependencies--#

#-- Data Cleaning Libraries:
import pandas as pd
import numpy as np

#-- Data Visualization Libraries:
from matplotlib import pyplot as plt
import seaborn as sns #--just in case we need it, probably won't


#-- Web Scraping Libraries:
import os
import time
import requests
from bs4 import BeautifulSoup as bs
from splinter import Browser

In [35]:
#Read CSV
raw_df = pd.read_csv("Players_birth_raw.csv")

In [36]:
raw_df.head()

                   1-Jan
0  Bones McKinney (1919)
1      John Logan (1921)
2      Ray Wertis (1922)
3      Ray Corley (1928)
4     Alan Sawyer (1928)

In [37]:
#Create function to take out year

def year_func(row):
    year = row[-5: -1]
    
    return year

In [38]:
raw_df["Year"]= raw_df["1-Jan"].apply(lambda x : year_func(x))
raw_df.head()

                   1-Jan  Year
0  Bones McKinney (1919)  1919
1      John Logan (1921)  1921
2      Ray Wertis (1922)  1922
3      Ray Corley (1928)  1928
4     Alan Sawyer (1928)  1928

In [39]:
#normalize year

def name_func(row):
    name = row[0:-6]
    
    return name

In [40]:
raw_df["1-Jan"] = raw_df["1-Jan"].apply(lambda row: name_func(row))

In [41]:
raw_df.head()

             1-Jan  Year
0  Bones McKinney   1919
1      John Logan   1921
2      Ray Wertis   1922
3      Ray Corley   1928
4     Alan Sawyer   1928

In [42]:
raw_df = raw_df.rename(columns={"1-Jan": "Player"})

In [43]:
raw_df = raw_df[raw_df.Player != '']

In [44]:
#Player index function

def play_index(row):
    player = row.Player
    year = row.year
    
    index = player + "_" + year
    
    return index

In [45]:
raw_df["Player Index"] = raw_df.Player + "_" + raw_df.Year

In [46]:
raw_df = raw_df.sort_values(by= "Year")

In [47]:
raw_df = raw_df.reset_index(drop=True)
raw_df.head()

           Player  Year         Player Index
0     Nat Hickey   1902     Nat Hickey _1902
1  Charley Shipp   1913  Charley Shipp _1913
2  Ben Goldfaden   1913  Ben Goldfaden _1913
3      Joe Fabel   1913      Joe Fabel _1913
4    Nat Frankel   1913    Nat Frankel _1913

In [48]:
raw_df["Year"] = raw_df["Year"].apply(lambda x: int(x))

In [49]:
raw_df = raw_df[raw_df.Year >= 1960]
raw_df.head()

               Player  Year          Player Index
2053       Mark West   1960       Mark West _1960
2054    Fred Roberts   1960    Fred Roberts _1960
2055      Jim Thomas   1960      Jim Thomas _1960
2056  Scooter McCray   1960  Scooter McCray _1960
2057    Eddie Hughes   1960    Eddie Hughes _1960

In [50]:
raw_df.Player = raw_df.Player.apply(lambda x: x.strip())

In [51]:
raw_df[raw_df.Player == "LeBron James"]

            Player  Year        Player Index
3682  LeBron James  1984  LeBron James _1984

In [52]:
pindex_df = raw_df[["Player", "Player Index"]]

In [53]:
pindex_df = pindex_df.reset_index(drop=True)

In [54]:
pindex_df.to_csv("PlayerIndex.csv")

In [26]:
ncaa_df = pd.read_csv("NCAA_clean.csv", header=0)

In [27]:
ncaa_df = ncaa_df.drop(columns= "Unnamed: 0", index=1)

In [28]:
ncaa_df.head()

,Player,Class,Season,Pos,School,Conf,G,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PER
0,Alaa Abdelnaby,SR,1980,F,Duke,ACC,38,24.921,5.711,9.211,...,0.0,0.0,6.632,0.711,0.684,1.263,1.421,2.605,15.053,25.92
2,Doug Able,JR,1980,F,Boston College,Big East,27,30.074,4.667,9.185,...,0.0,0.0,7.370,0.926,1.000,0.852,2.593,2.963,12.037,14.96
3,Frank Ableson,NaN,1980,G,Cornell,Ivy,28,12.750,1.357,3.071,...,0.0,0.0,1.286,0.607,0.321,0.000,1.357,1.214,4.214,10.30
4,Henri Abrams,JR,1980,C,George Mason,CAA,17,4.294,0.353,0.765,...,0.0,0.0,1.353,0.000,0.118,0.647,0.471,0.824,0.941,7.63
5,Rick Achberger,JR,1980,F,Stephen F. Austin,Southland,27,19.407,3.889,6.926,...,0.0,0.0,4.370,0.741,0.333,0.333,1.889,2.037,8.815,15.43

In [29]:
ncaa_df[ncaa_df["Player"] == "Grayson Allen"]

,Player,Class,Season,Pos,School,Conf,G,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PER
68867,Grayson Allen,FR,2015,G,Duke,ACC,35,9.200,1.286,3.029,...,0.257,0.743,1.000,0.400,0.286,0.143,0.429,1.200,4.371,22.56
73623,Grayson Allen,SO,2016,G,Duke,ACC,36,36.583,6.639,14.250,...,0.667,3.917,4.583,3.528,1.306,0.139,2.000,2.722,21.639,29.88
78400,Grayson Allen,JR,2017,G,Duke,ACC,34,29.618,4.147,10.500,...,0.676,3.059,3.735,3.500,0.765,0.059,2.176,2.294,14.471,24.64
83205,Grayson Allen,SR,2018,G,Duke,ACC,37,35.649,4.892,11.703,...,0.541,2.784,3.324,4.649,1.730,0.054,2.135,2.135,15.459,24.11

In [30]:
blank_test = pd.merge(pindex_df, ncaa_df, on= "Player" ,how= "left")

In [33]:
blank_test

,Player,Player Index,Class,Season,Pos,School,Conf,G,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PER
0,Tayshaun Prince,Tayshaun Prince _1980,FR,1999.0,F,Kentucky,SEC,37.0,20.189,2.216,...,0.000,0.000,3.838,1.216,0.676,0.568,1.027,0.919,5.784,14.06
1,Tayshaun Prince,Tayshaun Prince _1980,SO,1990.0,F,Kentucky,SEC,32.0,33.969,4.781,...,0.000,0.000,6.000,1.812,0.844,1.281,2.000,1.688,13.312,17.89
2,Tayshaun Prince,Tayshaun Prince _1980,JR,2001.0,F,Kentucky,SEC,34.0,32.853,6.088,...,1.647,4.853,6.500,2.912,0.706,1.088,1.706,1.647,16.912,28.76
3,Tayshaun Prince,Tayshaun Prince _1980,SR,2002.0,F,Kentucky,SEC,32.0,33.344,6.438,...,2.094,4.219,6.312,1.625,1.062,1.344,2.000,1.594,17.500,28.39
4,Adam Harrington,Adam Harrington _1980,FR,1999.0,G,North Carolina State,ACC,32.0,24.562,3.562,...,0.000,0.000,2.000,1.594,1.219,0.281,0.000,0.000,11.625,26.59
5,Adam Harrington,Adam Harrington _1980,SO,2001.0,G,Auburn,SEC,31.0,29.903,5.194,...,1.258,3.032,4.290,2.387,1.065,0.194,2.290,3.129,15.516,25.21
6,Adam Harrington,Adam Harrington _1980,JR,2002.0,G,Auburn,SEC,28.0,25.786,3.143,...,0.857,2.679,3.536,1.500,1.179,0.214,1.857,2.679,10.107,19.51
7,Juan Carlos Navarro,Juan Carlos Navarro _1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Theron Smith,Theron Smith _1980,FR,1990.0,F,Ball State,MAC,31.0,32.065,4.323,...,0.000,0.000,7.645,1.516,0.677,0.355,0.000,0.000,12.161,19.89
9,Theron Smith,Theron Smith _1980,SO,2001.0,F,Ball State,MAC,30.0,33.467,5.867,...,2.733,5.400,8.133,1.600,0.900,0.200,2.000,2.867,16.300,25.63
10,Theron Smith,Theron Smith _1980,JR,2002.0,F,Ball State,MAC,35.0,33.029,6.657,...,3.429,7.457,10.886,1.371,1.114,0.629,2.657,2.800,19.629,31.82
11,Theron Smith,Theron Smith _1980,SR,2003.0,F,Ball State,MAC,3.0,33.333,4.333,...,2.333,4.333,6.667,1.667,0.333,0.000,3.667,2.333,15.333,20.14
12,Damien Wilkins,Damien Wilkins _1980,FR,1990.0,F,North Carolina State,ACC,34.0,31.853,3.735,...,0.000,0.000,5.794,2.265,1.206,0.618,0.000,0.000,11.441,21.09
13,Damien Wilkins,Damien Wilkins _1980,SO,2001.0,F,North Carolina State,ACC,26.0,32.615,4.192,...,2.885,2.923,5.808,2.654,1.308,0.577,2.885,2.269,11.692,20.18
14,Damien Wilkins,Damien Wilkins _1980,JR,2003.0,F,Georgia,SEC,27.0,21.074,2.407,...,0.963,1.963,2.926,2.630,0.778,0.333,1.778,2.222,7.519,19.41
15,Damien Wilkins,Damien Wilkins _1980,SR,2004.0,F,Georgia,SEC,30.0,35.200,3.900,...,2.000,3.400,5.400,2.933,1.467,0.367,2.500,2.533,12.633,20.01
16,Chris Jefferies,Chris Jefferies _1980,FR,1999.0,F,Arkansas,SEC,34.0,21.176,3.000,...,0.000,0.000,3.882,1.029,0.735,1.353,1.971,1.941,7.706,15.33
17,Chris Jefferies,Chris Jefferies _1980,SO,2001.0,F,Fresno State,WAC,33.0,30.727,5.121,...,1.242,3.606,4.848,1.879,1.455,0.939,2.727,2.273,15.545,25.54
18,Chris Jefferies,Chris Jefferies _1980,JR,2002.0,F,Fresno State,WAC,21.0,34.571,5.476,...,1.190,5.143,6.333,3.048,1.190,1.190,2.429,2.762,17.333,26.88
19,Kareem Rush,Kareem Rush _1980,FR,1990.0,F,Missouri,Big 12,22.0,26.864,4.955,...,0.000,0.000,4.273,1.545,1.318,0.182,1.955,2.500,14.682,23.72
20,Kareem Rush,Kareem Rush _1980,SO,2001.0,F,Missouri,Big 12,26.0,30.615,7.385,...,2.231,4.462,6.692,1.962,1.308,0.808,3.346,2.423,21.115,33.83
21,Kareem Rush,Kareem Rush _1980,JR,2002.0,F,Missouri,Big 12,36.0,31.917,6.917,...,1.333,3.889,5.222,2.472,1.083,0.611,2.861,2.111,19.778,30.22
22,Bobby Simmons,Bobby Simmons _1980,FR,1999.0,F,DePaul,CUSA,31.0,30.613,3.613,...,0.000,0.000,6.129,2.645,1.710,0.097,2.935,2.484,11.194,15.72
23,Bobby Simmons,Bobby Simmons _1980,SO,1990.0,F,DePaul,CUSA,33.0,30.576,4.303,...,0.000,0.000,7.939,1.606,1.455,0.303,2.576,2.939,13.121,17.53
24,Bobby Simmons,Bobby Simmons _1980,JR,2001.0,F,DePaul,CUSA,29.0,33.828,5.138,...,2.621,5.931,8.552,2.483,0.793,0.138,2.069,3.345,16.655,26.56
25,Jerome Beasley,Jerome Beasley _1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Brian Cook,Brian Cook _1980,FR,1990.0,F,Illinois,Big Ten,32.0,18.594,3.500,...,0.000,0.000,4.469,0.750,0.688,0.875,1.250,2.375,8.969,20.43
27,Brian Cook,Brian Cook _1980,SO,2001.0,F,Illinois,Big Ten,35.0,24.171,4.200,...,2.057,4.000,6.057,1.229,0.600,1.286,1.886,3.371,11.171,24.65
28,Brian Cook,Brian Cook _1980,JR,2002.0,F,Illinois,Big Ten,35.0,28.800,4.971,...,1.829,4.829,6.657,1.257,0.829,1.429,2.200,3.200,13.457,24.43
29,Brian Cook,Brian Cook _1980,SR,2003.0,F,Illinois,Big Ten,30.0,31.333,6.733,...,1.467,6.100,7.567,2.000,0.667,0.433,2.767,2.933,19.967,30.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3741,Terrance Ferguson,Terrance Ferguson _1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3742,Deandre Ayton,Deandre Ayton _1998,FR,2018.0,F,Arizona,Pac-12,35.0,33.486,7.886,...,3.371,8.200,11.571,1.629,0.571,1.886,1.971,2.314,20.114,34.17
3743,Harry Giles,Harry Giles _1998,FR,2017.0,F,Duke,ACC,26.0,11.538,1.731,...,1.577,2.269,3.846,0.346,0.346,0.654,0.692,2.231,3.923,21.19
3744,Ike Anigbogu,Ike Anigbogu _1998,FR,2017.0,F,UCLA,Pac-12,29.0,13.000,1.966,...,1.414,2.621,4.034,0.207,0.172,1.207,0.828,2.483,4.724,21.10
3745,Rodions Kurucs,Rodions Kurucs _1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3746,Frank Jackson,Frank Jackson _1998,FR,2017.0,G,Duke,ACC,36.0,24.861,3.694,...,0.639,1.861,2.500,1.694,0.556,0.056,1.361,2.361,10.944,20.74
3747,Shai Gilgeous-Alexander,Shai Gilgeous-Alexander _1998,FR,2018.0,G,Kentucky,SEC,37.0,33.730,4.946,...,0.892,3.243,4.135,5.108,1.649,0.486,2.703,1.676,14.378,24.47
3748,Isaiah Hartenstein,Isaiah Hartenstein _1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3749,De’Anthony Melton,De’Anthony Melton _1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3750,Markelle Fultz,Markelle Fultz _1998,FR,2017.0,G,Washington,Pac-12,25.0,35.680,8.360,...,1.320,4.400,5.720,5.920,1.600,1.200,3.200,2.520,23.160,35.25
3751,Tony Bradley,Tony Bradley _1998,FR,2017.0,F,North Carolina,ACC,38.0,14.553,2.684,...,2.579,2.553,5.132,0.605,0.263,0.579,0.658,1.816,7.079,30.06
3752,Trae Young,Trae Young _1998,FR,2018.0,G,Oklahoma,Big 12,32.0,35.406,8.156,...,0.438,3.469,3.906,8.719,1.688,0.250,5.219,1.781,27.375,39.09
3753,Jayson Tatum,Jayson Tatum _1998,FR,2017.0,F,Duke,ACC,29.0,33.310,5.690,...,1.345,6.000,7.345,2.138,1.345,1.138,2.621,2.966,16.828,26.51
3754,Miles Bridges,Miles Bridges _1998,FR,2017.0,G,Michigan State,Big Ten,28.0,31.964,6.321,...,1.464,6.821,8.286,2.071,0.679,1.536,2.357,1.857,16.893,28.52
3755,Miles Bridges,Miles Bridges _1998,SO,2018.0,G,Michigan State,Big Ten,34.0,31.382,6.147,...,1.265,5.706,6.971,2.706,0.618,0.765,1.971,1.559,17.118,29.13
3756,Troy Brown,Troy Brown _1999,NaN,1991.0,F,Providence,Big East,26.0,8.346,1.308,...,0.000,0.000,2.654,0.385,0.154,0.500,0.000,0.000,3.000,20.32
3757,Troy Brown,Troy Brown _1999,NaN,1992.0,F,Providence,Big East,29.0,9.241,1.621,...,0.000,0.000,2.345,0.103,0.207,0.345,0.000,0.000,3.931,21.39
3758,Troy Brown,Troy Brown _1999,JR,1993.0,C,Providence,Big East,33.0,12.576,1.576,...,0.000,0.000,3.848,0.303,0.424,0.455,0.000,0.000,4.515,19.68
3759,Troy Brown,Troy Brown _1999,SR,1995.0,C,Providence,Big East,30.0,26.567,4.533,...,0.000,0.000,7.900,0.433,0.500,0.867,0.000,2.833,11.967,20.69
3760,Troy Brown,Troy Brown _1999,FR,2018.0,F,Oregon,Pac-12,35.0,31.229,4.086,...,1.514,4.686,6.200,3.171,1.571,0.200,2.457,2.229,11.314,21.03
3761,Marvin Bagley,Marvin Bagley _1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3762,Jaren Jackson Jr.,Jaren Jackson Jr. _1999,FR,2018.0,F,Michigan State,Big Ten,35.0,21.829,3.400,...,1.486,4.314,5.800,1.114,0.600,3.029,1.771,3.200,10.914,29.65
3763,Anfernee Simons,Anfernee Simons _1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3764,Dzanan Musa,Dzanan Musa _1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3765,Luka Doncic,Luka Doncic _1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3766,Kevin Knox,Kevin Knox _1999,FR,2018.0,F,Kentucky,SEC,37.0,32.378,5.297,...,0.892,4.514,5.405,1.432,0.838,0.270,2.297,2.216,15.568,22.64
3767,Gary Trent Jr.,Gary Trent Jr. _1999,FR,2018.0,G,Duke,ACC,37.0,33.865,4.784,...,0.838,3.405,4.243,1.405,1.162,0.135,1.027,1.676,14.486,22.52
3768,Wendell Carter,Wendell Carter _1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3769,Collin Sexton,Collin Sexton _1999,FR,2018.0,G,Alabama,SEC,33.0,29.909,5.939,...,1.030,2.727,3.758,3.606,0.848,0.091,2.788,2.455,19.152,30.45
3770,Isaac Bonga,Isaac Bonga _1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [148]:
blank_test["Team Index"] = blank_test["School"] + "_" + blank_test["Conf"]

In [149]:
#Reorder columns

cols = list(blank_test.columns)

cols.insert(0, cols.pop(cols.index('Player Index')))

In [150]:
cols.insert(1, cols.pop(cols.index('Team Index')))

In [151]:
cols

['Player Index',
 'Team Index',
 'Player',
 'Class',
 'Season',
 'Pos',
 'School',
 'Conf',
 'G',
 'MP',
 'FG',
 'FGA',
 '2P',
 '2PA',
 '3P',
 '3PA',
 'FT',
 'FTA',
 'ORB',
 'DRB',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS',
 'PER']

In [152]:
blank_test = blank_test.reindex(columns= cols)

In [159]:
test_team_na = blank_test[blank_test["Team Index"].isna()]

test_team_na.head()

,Player Index,Team Index,Player,Class,Season,Pos,School,Conf,G,MP,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PER
7,Juan Carlos Navarro _1980,NaN,Juan Carlos Navarro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Jerome Beasley _1980,NaN,Jerome Beasley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Raul Lopez _1980,NaN,Raul Lopez,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Luis Scola _1980,NaN,Luis Scola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,Leon Smith _1980,NaN,Leon Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [161]:
test_team_notna = blank_test[blank_test["Team Index"].notna()]
test_team_notna.head()

,Player Index,Team Index,Player,Class,Season,Pos,School,Conf,G,MP,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PER
0,Tayshaun Prince _1980,Kentucky_SEC,Tayshaun Prince,FR,1999.0,F,Kentucky,SEC,37.0,20.189,...,0.000,0.000,3.838,1.216,0.676,0.568,1.027,0.919,5.784,14.06
1,Tayshaun Prince _1980,Kentucky_SEC,Tayshaun Prince,SO,1990.0,F,Kentucky,SEC,32.0,33.969,...,0.000,0.000,6.000,1.812,0.844,1.281,2.000,1.688,13.312,17.89
2,Tayshaun Prince _1980,Kentucky_SEC,Tayshaun Prince,JR,2001.0,F,Kentucky,SEC,34.0,32.853,...,1.647,4.853,6.500,2.912,0.706,1.088,1.706,1.647,16.912,28.76
3,Tayshaun Prince _1980,Kentucky_SEC,Tayshaun Prince,SR,2002.0,F,Kentucky,SEC,32.0,33.344,...,2.094,4.219,6.312,1.625,1.062,1.344,2.000,1.594,17.500,28.39
4,Adam Harrington _1980,North Carolina State_ACC,Adam Harrington,FR,1999.0,G,North Carolina State,ACC,32.0,24.562,...,0.000,0.000,2.000,1.594,1.219,0.281,0.000,0.000,11.625,26.59

In [162]:
test_team_notna.to_csv("NCAA_indexed.csv")