In [4]:
#Creating a for loop to find the lat/long of every university that has
# had a player drafted into the NBA since 1990. 

# Dependencies
import requests
import json

# Google API Key
from config import gkey

In [12]:
import csv
import os

#Import ncaa data 

csvpath = os.path.join('../static/data/ncaa_model.csv')

with open(csvpath, newline='') as csvfile:
    
    csvreader = csv.reader(csvfile, delimiter=',')

    print(csvreader)

    # Read the header row first (skip this step if there is now header)
    csv_header = next(csvreader)
    print(f"CSV Header: {csv_header}")

<_csv.reader object at 0x00000233F5BA9D48>
CSV Header: ['', 'Player', 'Class', 'Season', 'Pos', 'School', 'Conf', 'G', 'MP', 'FG', 'FGA', '2P', '2PA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PER', 'eFG%', 'WS', 'AP Player of the Year', 'NABC Defensive Player of the Year', 'NABC Player of the Year', 'Naismith Award', 'NCAA Tournament Most Outstanding Player', 'NIT Most Valuable Player', 'Rupp Trophy', 'Sporting News Player of the Year', 'UPI Player of the Year', 'USBWA Freshman of the Year', 'Year', 'Rd', 'Pk', 'Tm', 'Projected Rd', 'Projected Pk', 'Team Score']

In [25]:
csvpath_unis = os.path.join('Schools+University.csv')

with open(csvpath_unis, newline='') as csvfile:
    
    csvreader = csv.reader(csvfile, delimiter=',')

    print(csvreader)

    # Read the header row first (skip this step if there is now header)
    csv_header = next(csvreader)
    print(f"CSV Header: {csv_header}")

<_csv.reader object at 0x00000233F8A0BE80>
CSV Header: ['ï»¿School']

In [26]:
target_city = "Duke University"

params = {"address": target_city, "key": gkey}

# Build URL using the Google Maps API
base_url = "https://maps.googleapis.com/maps/api/geocode/json"

# Run request
response = requests.get(base_url, params=params)


# Convert to JSON
duke_geo = response.json()

# Extract lat/lng
lat = duke_geo["results"][0]["geometry"]["location"]["lat"]
lng = duke_geo["results"][0]["geometry"]["location"]["lng"]

# Print results
print(f"{target_city}: {lat}, {lng}")

Duke University: 36.0014258, -78.9382286

In [27]:
# Add 'University' to the end of each value in the column 'schools'

import pandas as pd

df = pd.read_csv('../static/data/ncaa_model.csv')
df.head()

#print(df.School.to_string(index=False))

,Unnamed: 0,Player,Class,Season,Pos,School,Conf,G,MP,FG,...,Sporting News Player of the Year,UPI Player of the Year,USBWA Freshman of the Year,Year,Rd,Pk,Tm,Projected Rd,Projected Pk,Team Score
0,5,Chris Mihm,SO,1999,C,Texas,Big 12,32,32.094,4.500,...,0,0,0,2000,1,7,CHI,1,7,0
1,7,Dan McClintock,JR,1999,C,Northern Arizona,Big Sky,27,16.741,4.630,...,0,0,0,2000,2,53,DEN,2,53,0
2,19,Mamadou N'Diaye,JR,1999,C,Auburn,SEC,33,23.788,2.667,...,0,0,0,2000,1,26,DEN,1,26,0
3,21,Desmond Mason,JR,1999,F,Oklahoma State,Big 12,34,34.706,5.765,...,0,0,0,2000,1,17,SEA,1,17,0
4,27,Dan Langhi,JR,1999,F,Vanderbilt,SEC,29,32.897,5.586,...,0,0,0,2000,2,31,DAL,2,31,0

In [28]:
school = df['School']
school.head()

0               Texas
1    Northern Arizona
2              Auburn
3      Oklahoma State
4          Vanderbilt
Name: School, dtype: object

In [29]:
school = pd.DataFrame(school)
school.head()

             School
0             Texas
1  Northern Arizona
2            Auburn
3    Oklahoma State
4        Vanderbilt

In [30]:
school.to_csv('Schools.csv')

In [60]:
unis_df = pd.read_csv('Schools+University.csv')
unis_df.head()

                        School
0             Texas University
1  Northern Arizona University
2            Auburn University
3    Oklahoma State University
4        Vanderbilt University

In [36]:
type(unis_df.School)

pandas.core.series.Series

In [40]:
# Writing the code to call the Google Api and return lat/long of each school

my_schools = for school in unis_df.School:
    print(school)
    
params = {
    'query': my_schools,
    'key': gkey
}

base_url = "https://maps.googleapis.com/maps/api/geocode/json"

#run request
response = requests.get(base_url, params=params)

#convert to JSON
schools_geo = response.json()

#extract Lat/Long
lat = schools_geo["results"][0]["geometry"]["location"]["lat"]
lng = schools_geo["results"][0]["geometry"]["location"]["lng"]

print(f"{my_schools}: {lat}, {lng})

SyntaxError: invalid syntax (<ipython-input-40-98ea20c9c7a6>, line 3)

In [65]:
unis_latlnglist = []

for school in unis_df.School:
    params = {
    'address': school,
    'key': gkey
    }
    
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

#run request
    response = requests.get(base_url, params=params)

#convert to JSON
    schools_geo = response.json()
    
#extract Lat/Long
    lat = schools_geo["results"][0]["geometry"]["location"]["lat"]
    lng = schools_geo["results"][0]["geometry"]["location"]["lng"]

    
    unis_latlng = {}
    
    unis_latlng['School'] = school
    unis_latlng['Lat'] = lat
    unis_latlng['Long'] = lng
    
    unis_latlnglist.append(unis_latlng)

In [66]:
unis_df = pd.DataFrame(unis_latlnglist)
unis_df.head()

         Lat        Long                       School
0  30.284918  -97.734057             Texas University
1  35.187646 -111.654093  Northern Arizona University
2  32.593357  -85.495166            Auburn University
3  36.127024  -97.073722    Oklahoma State University
4  36.144703  -86.802655        Vanderbilt University

In [68]:
unis_df.to_csv('University List with LatLong.csv')

In [74]:
unis_df["School"]= unis_df["School"].str.slice(0 , -11,1)

In [75]:
unis_df.head()

         Lat        Long            School
0  30.284918  -97.734057             Texas
1  35.187646 -111.654093  Northern Arizona
2  32.593357  -85.495166            Auburn
3  36.127024  -97.073722    Oklahoma State
4  36.144703  -86.802655        Vanderbilt

In [76]:
unis_df.to_csv('School List with LatLong.csv')